#photo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid blue;
  padding: 5px;
  border-radius: 25px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: red;
  padding: 15px;
  font-family: Impact;
}

.info {
  float: left;
  width: 380px;
  padding: 0 15px;
}

.info img {
  width: 200px;
  height: 200px;
  border: 5px solid blue;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 25px;
  padding: 10px;
}

.info p {
  font-weight: bold;
  font-family: Arial;
}

.info h2 {
  color: orange;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.list li a {
  font-style: italic;
  font-weight: bold;
}

.list li {
  font-family: 'Times New Roman';
  font-size: 20px;
}

.well h2 {
  font-weight: bold;
  color: blue; 
  font-family: Helvetica;
}

.word {
  color: green;
}

.words {
  color: purple; 
}

.container {
  padding-bottom: 20px;
}

.well ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

blockquote {
  font-style: italic;
  font-weight: bold;
}

blockquote p {
  font-size: 2rem; 
}

.bg-danger {
  font-size: 25px;
}